/Wonambi/Library
/Wonambi/Temp
/Wonambi/UnityVS.Wonambi.sln
/Wonambi/Assembly-CSharp.csproj
/Wonambi/Assembly-CSharp-Editor.csproj
/Wonambi/Assembly-CSharp-firstpass.csproj
/Wonambi/Wonambi.CSharp.csproj
/Wonambi/Wonambi.CSharp.Editor.csproj
/Wonambi/Wonambi.CSharp.Plugins.csproj
/Wonambi/Wonambi.sln
/Wonambi/Wonambi.userprefs
/Wonambi/UnityVS.Wonambi.CSharp.csproj
/Wonambi/UnityVS.Wonambi.CSharp.Editor.csproj
/Wonambi/UnityVS.Wonambi.CSharp.Plugins.csproj
/Wonambi/*.csproj
/Wonambi/*.suo
/Wonambi/*.sln
/Wonambi/iOS
